@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}
h2 {
  font-size: 1.9rem;
  font-weight: 600;
  color: white;
}
h3 {
  font-size: 1.5rem;
  font-weight: 800;
}
h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}
h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
h6 {
  color: #dbdbdb;
}
p {
  color: white;
}
button {
  font-size: 0.8rem;
  display: inline-block;
  outline: none;
  border: none;
  padding: 12px 28px;
  background-color: skyblue;
  color: black;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s ease;
  border-radius: 5px;
}
button:hover {
  background-color: #3a3838;
  color: aliceblue;
}
.navbar {
  font-size: 16px;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.navbar-light .navbar-nav .nav-link {
  padding: 0 10px;
  color: black;
  transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: coral;
}
.nav-item {
  font-weight: 400;
  align-items: center;
  justify-items: center;
  margin: auto;
  cursor: pointer;
  padding: 0 10px;
  color: black;
  transition: 0.3s ease;
}
.nav-item .svg:hover,
.nav-item .svg.active {
  color: coral;
}

/* mobile navbar  */
.navbar-light .navbar-toggler {
  outline: none;
  border: none;
}

#bar {
  font-size: 1.5rem;
  padding: 0 7px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
#bar:hover,
#bar.svg.active {
  color: white;
}

@media only screen and (max-width: 990px) {
  body > section > nav > div > button:hover,
  body > section > nav > div > button:focus {
    background-color: #fb774b;
  }

  body > section > nav > div > button:hover #bar,
  body > section > nav > div > button:focus #bar {
    color: white;
  }
  #navbarSupportedContent > ul {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }
}
/* Home section  */
#home {
  background-image: url(/img/homesection-img.jpeg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 60px center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#home span {
  color: coral;
}

/* Brand section  */
.row {
  cursor: pointer;
}
.row img {
  /* filter: grayscale(100%); */
  transition: transform 0.3s;
}
.row img:hover {
  filter: grayscale(0);
  transform: translate(4px);
}

/* new-section */
#new-section .section-one {
    transition: transform 0.3s;
} 
#new-section .section-one:hover {
    transform: translateY(6px);
}
.section-one {
    border-radius: 10px;
}
#new-section .section-one img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
}

#new-section .section-one .details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#new-section .section-one:hover .details {
    background: rgba(245, 178, 178, 0.7);
    transition: 0.3s ease;
}
#new-section .section-one .details button {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px gray solid;
    padding: 2.5px;
    background: none;
    color: blue;
    transform: translateY(70px);
    transition: 0.3 ease;
}
#new-section .section-one .details button:hover {
    color: white;
    border-bottom: 1px #dbdbdb solid;
}
#new-section .section-one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    color: black;
}
#new-section .section-one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
}
#new-section .section-one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    color: black;
}

/* featured product section  */
#featured h2 {
  color: black;
  font-size: 3rem;
  font-weight: 700;
}
 hr {
  width: 100px;
  height: 3px;
  background-color: coral;
  margin: auto;
  margin-bottom: 10px;
}
#featured p {
  color: black;
  margin-top: 1.5rem;
  font-size: 17px;
}
#featured .product img {
  height: 65%;
  transition: 0.3s all;
  border-radius: 5px;
}
#featured .product:hover img{
  opacity: 0.7;
}
#featured .product{
  margin-bottom: 2rem;
  border: 2px gray solid;
  border-radius: 10px;
  /* gap: 10px; */
}
#featured h5 {
  color: #000;
}
.product .buy-btn {
  background: #fb774b;
  color: #fff;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}
.product:hover  .buy-btn{
  transform: translateY(0);
  opacity: 1;
}
/* Banner section */
#banner {
  background-image: url(/img/banner-img.jpg);
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top 70px center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#banner h1 {
  color: #000;
}
#banner button {
  background-color: #fb774b;
  color: white;
}
#banner button:hover {
  color: blue;
  transition: 0.3s ease;
}
/* Dreasses  */
#Dreasses h2 {
  color: #000;
}
#Dreasses p {
  color: #000;
}
#Dreasses .product .name {
  color: #000;
}
#Dreasses .product .price {
  font-size: 16px;
  font-weight: 300;
}
#Dreasses .product img {
  height: 65%;
  transition: 0.3s all;
  border-radius: 5px;
}
#Dreasses .product:hover img{
  opacity: 0.7;
}
#Dreasses .product{
  margin-bottom: 2rem;
  border: 2px gray solid;
  border-radius: 10px;
  /* gap: 10px; */
}
/* Watches */
#Watches h2 {
  color: #000;
}

#Watches .product{
  margin-bottom: 2rem;
  border: 2px gray solid;
  border-radius: 10px;
  transition: 0.3s;
}
#Watches .product:hover {
  transform: translateY(6px);
}
#Watches p {
  color: #000;
}
#Watches .product .name {
  color: #000;
}
#Watches .product .price {
  font-size: 16px;
  font-weight: 300;
}
#Watches .product img {
  height: 65%;
  transition: 0.3s all;
  border-radius: 5px;
}
#Watches .product:hover img{
  opacity: 0.7;
}

/* /* Watches */
#Watches h2 {
  color: #000;
}

#Watches .product{
  margin-bottom: 2rem;
  border: 2px gray solid;
  border-radius: 10px;
  transition: 0.3s;
}
#Watches .product:hover {
  transform: translateY(6px);
}
#Watches p {
  color: #000;
}
#Watches .product .name {
  color: #000;
}
#Watches .product .price {
  font-size: 16px;
  font-weight: 300;
}
#Watches .product img {
  height: 65%;
  transition: 0.3s all;
  border-radius: 5px;
}
#Watches .product:hover img{
  opacity: 0.7;
}

/* Shoes  */
#Shoes h2 {
  color: #000;
}

#Shoes .product{
  margin-bottom: 2rem;
  border: 2px gray solid;
  border-radius: 10px;
  transition: 0.3s;
}
/* #Shoes .product:hover {
  transform: translateY(6px);
} */
#Shoes p {
  color: #000;
}
#Shoes .product .name {
  color: #000;
}
#Shoes .product .price {
  font-size: 16px;
  font-weight: 300;
}
#Shoes .product img {
  height: 65%;
  transition: 0.3s all;
  border-radius: 5px;
}
#Shoes .product:hover img{
  opacity: 0.7;
}

/* footer */
footer {
  background-color: #222222;
}
  .footer img {
    height: 60px;
    width: 60px;
  }
  .footer p {
    color: gray;
  }
  /* .footer h5 {
    color: #000;
  }
  .footer h6 {
    color: #000;
  } */
/* .copyright {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
} */
 footer .copyright a {
    color: #000;
    background-color: #dbdbdb;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    transition: 0.3s;
  }
  footer .copyright a:hover {
    color: #fff;
    background-color: #fb774b;
  }