
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}
h1 {
    font-size: 1.9rem;
    font-weight: 600;
}
h3 {
    font-size: 1.5rem;
    font-weight: 800;
}
h4 {
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}
h5 {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}
h6 {
    color: #dbdbdb;
}
p {
    color: white;
}
button {
    font-size: 0.8rem;
    display: inline-block;
    outline: none;
    border: none;
    padding: 12px 28px;
    background-color: skyblue;
    color: black;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s ease;
    border-radius: 5px;
}
button:hover {
   background-color: #3a3838;
   color: aliceblue;
}
.navbar {
    font-size: 16px;
    top: 0;
    left: 0;
}
.navbar-light .navbar-nav .nav-link {
    padding: 0 10px;
    color: black;
    transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link.active {
    color: coral;
}
.nav-item {
    font-weight: 400;
    align-items: center;
    justify-items: center;
    margin: auto;
    cursor: pointer;
    padding: 0 10px;
    color: black;
    transition: 0.3s ease;
}
.nav-item .svg:hover,
.nav-item .svg.active {
    color: coral;
}

/* mobile navbar  */
   .navbar-light .navbar-toggler {
    outline: none;
    border: none;
   }

   #bar {
    font-size: 1.5rem;
    padding:0 7px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
#bar:hover, 
#bar.svg.active {
    color: white;
}

@media only screen and (max-width: 990px) {
    body > section > nav > div > button:hover,
    body > section > nav > div > button:focus {
        background-color: #fb774b;
    }

    body > section > nav > div > button:hover #bar,
    body > section > nav > div > button:focus #bar  {
        color: white;
}
#navbarSupportedContent > ul {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

}
/* Home section  */
#home {
    background-image: url(/img/homesection-img.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#home span {
    color: coral;
}